.Panels {
  height: 100%;
}
.Panels-container-col {
  clear: both;
  display: flex;
}

.Panels-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.Panels-panel {
  overflow: hidden;
  position: relative;
}
.Panels-col, .Panels-panel {
  border: 0px solid #f8f9fa;
  box-sizing: content-box;
  &.Panels-brd-top {
    border-top-width: 0.3rem;
  }
  &.Panels-brd-left {
    border-left-width: 0.3rem;
  }
  &.Panels-brd-bottom {
    border-bottom-width: 0.3rem;
  }
  &.Panels-brd-right {
    border-right-width: 0.3rem;
  }
}