<launch>
    <arg name="navsat_src" default="/fix" />
    <arg name="odom_src" default="/odometry/local" />
    <node name="waypoint_navigation_node" pkg="waypoint_navigation" type="waypoint_navigation_server.py" output="screen">
        <param name="navsat_src" value="$(arg navsat_src)" />
        <param name="odom_src" value="$(arg odom_src)" />
    </node>
</launch>
