<launch>
    <include file="apm.launch" />
    <include file="cameras.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar_s1.launch"/>
    <!--include file="t265_tf_to_mavros.launch" /-->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <include file="$(find critbot_2dnav)/launch/critbot_tf_configuration.launch" />
    <include file="nmea_serial_driver.launch" />
    <node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
        <rosparam file="../config/arduino_params.yaml" command="load" />
    </node>
    <include file="$(find ekf_localization)/launch/ekf_local.launch" />
    <include file="$(find critbot_2dnav)/launch/move_base.launch" />
    <!--include file="$(find ekf_localization)/launch/ekf_global.launch" /-->
    <arg name="node_start_delay" default="8" /> 
    <!--node pkg="web_robot_communication" name="convert_nav_to_twist" type="convert_nav_to_twist.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/-->
    <node pkg="web_robot_communication" name="wifi_status" type="wifi_status.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="web_robot_communication" name="mode_changes" type="mode_changes.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    
</launch>
