<!-- Node for merging magnetometer and accelerometer data into a single imu message -->
<launch>
  #### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager" 
    args="manager" output="screen" />

  #### IMU Driver ###########################################################

  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" 
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" 
    output="screen">
	<remap from="imu/data" to="madgwick/data" />    
	<param name="publish_tf" value="false"/>
	<param name="use_magnetic_field" value="true" />
	<param name="remove_gravity_vector" value="true" />
	<param name="world_frame" value="enu" /> 
</node>
</launch>
